{% extends "page.html" %}

{% block pagemenu %}
{% set current_major_version = plugins[0][4] %}
{% set current_minor_version = plugins[0][5] %}
{% set current_maintenance_version = plugins[0][6] %}
{% set changed = false %}
                <li><a href="#version{{ current_major_version }}{{ current_minor_version }}">{{ current_major_version }}.{{ current_minor_version }}</a></li>
{% for plugin in plugins %}
{% if current_major_version != plugin[4] %}
    {% set current_major_version = plugin[4] %}
    {% set changed = false %}
{% endif %}
{% if current_minor_version != plugin[5] %}
    {% set current_minor_version = plugin[5] %}
    {% set changed = false %}
{% endif %}
{% if changed %}
{% set changed = false %}
                <li><a href="#{{ current_major_version }}{{ current_minor_version }}{{ current_maintenance_version }}">{{ current_major_version }}.{{ current_minor_version }}.{{ current_maintenance_version }}</a></li>
{% endif %}
{% endfor %}
{% endblock %}

{% block pagecontent %}
                    <div class="well page active" id="main">
                        <h1 class="header">{{ name }}</h1>
{% set current_major_version = plugins[0][4] %}
{% set current_minor_version = plugins[0][5] %}
{% set current_maintenance_version = plugins[0][6] %}
                        <div class="panel panel-info">
                            <div class="panel-heading" id="version{{ current_major_version }}{{ current_minor_version }}">
                                <h3 class="panel-title">{{ current_major_version }}.{{ current_minor_version }}</h3>
                            </div>
                            <div class="panel-body>">
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5>{{ current_maintenance_version }}</h5>
                                </div>
                                <div class="panel-body">
{% for plugin in plugins %}
{% if current_major_version != plugin[4] or current_minor_version != plugin[5] %}
    {% set current_major_version = plugin[4] %}
    {% set current_minor_version = plugin[5] %}
    {% set current_maintenance_version = plugins[0][6] %}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading" id="version{{ current_major_version }}{{ current_minor_version }}">
                                <h3 class="panel-title">{{ current_major_version }}.{{ current_minor_version }}</h3>
                            </div>
                            <div class="panel-body>">
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5>{{ current_maintenance_version }}</h5>
                                </div>
                                <div class="panel-body">
{% endif %}
{% if current_maintenance_version != plugin[6] %}
    {% set current_maintenance_version = plugin[6] %}
                                </div>
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5>{{ current_maintenance_version }}</h5>
                                </div>
                                <div class="panel-body">
{% endif %}
                                    <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to download" onclick="window.location='/plugin/download/{{ plugin[0] }}'">{{ plugin[2] }}-{{ plugin[4] }}.{{ plugin[5] }}.{{ plugin[6] }}</button>
{% if admin %}
                                    [ <a href="/plugin/delete/{{ plugin[0] }}">Delete</a> ]
{% endif %}
{%  endfor %}
                                </div>
                            </div>
                        </div>
{% endblock %}